---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "My Works as a Marketing Manager";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/laptop.webp"/>
    </div>

    <h2>Projects</h2>
    <ul role="list" class="link-card-row">
        <Card
            href="#"
            image="/1.jpeg"
            title=" Tesco Food Love Stories (2020)"
            body="This campaign celebrated the role that food plays in our lives, especially during the challenging times of the COVID-19 pandemic. It featured a series of short films about real people and their relationships with food, and was praised for its emotional resonance and authenticity."
        />
        <Card
            href="#"
            image="/2.jpeg"
            title="Tesco Clubcard Prices (2021)"
            body="This campaign promoted Tesco's Clubcard loyalty program, which offers exclusive discounts and promotions to members. It featured a series of humorous TV ads that showed how Clubcard Prices can help people save money on their groceries."
        />
        <Card
            href="#"
            image="/3.jpeg"
            title="Tesco Better Baskets (2022)"
            body="This campaign encouraged customers to make healthier and more sustainable food choices. It featured a variety of initiatives, such as a partnership with WWF to reduce the environmental impact of the average UK shopping basket."
        />
        <Card
            href="#"
            image="/4.jpeg"
            title="Tesco Real Deals (2023)"
            body="This campaign is currently running and promotes Tesco's commitment to offering customers the best possible value on their groceries. It features a variety of deals and discounts, as well as a partnership with the charity FareShare to help feed people in need."
        />
    </ul>
</Layout>
